	/*2カラム全体を右寄せにする*/
}

/*============================================
ニュース（中央カラム）
============================================*/
div#news {
	width:390px; margin-right:5px; padding-top:10px; /*幅の指定と位置調整*/
	float:left;					/*カラムを左寄せにする*/
	background-image:url("images/bar_news.gif");	/*中央カラムの背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
}

/*見出し・段落・水平線のスタイル指定*/
h2 {
	font-size:100%; margin-bottom:10px; padding-left:25px;
	font-size:95%; border-bottom:solid 1px #cccccc;
	background-image:url("images/icon.gif");
	background-repeat:no-repeat; background-position:left center;
}
h3 {font-size:90%; margin-left:5px;}
p {font-size:90%; margin:10px 0px 10px 10px; text-indent:10px;}
hr {height:1px; border:solid 1px #cccccc; margin-bottom:30px;}

/*============================================
ピックアップ（右カラム）
============================================*/
div#pickup {
	width:150px; padding-top:10px; 		/*幅の指定と位置調整*/
	float:right;				/*カラムを右寄せにする*/
	background-image:url("images/bar_pickup.gif");	/*右カラムの背景画像*/
	background-repeat:no-repeat;		 /*背景画像を繰り返さない*/
}
div#pickup ul {
	margin-left:10px; 		/*左マージンを10px空ける*/
	font-size:90%;			/*フォントサイズを90%にする*/
}
div#pickup li {
	list-style-type:none; 		/*リストマーカー無しにする*/
	line-height:1.8;		/*行の高さを1.8倍にする*/
}

/*============================================
フッタ
============================================*/
div#footer {
	height:42px; text-align:center;
	clear:both;					/*回り込みを解除する*/
	background-image:url("images/bg_footer.jpg");	/*フッタ部分の背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
	background-color:#cccccc;			/*フッタ部分の背景色*/
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:5px 0px 5px 0px;		 /*要素内容の位置調整*/
}
